@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

html,
body {
  font-family: 'Source Sans Pro', sans-serif;
}

.card {
  background: #222831;
}

button {
  background: #005a8d;
}
